@model List<Student>
@{
    ViewData["Title"] = "Student List";
}
<h1>@ViewData["Title"]</h1>


<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Grade</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
        <partial name="Display/StudentRow" model="student"/>
        }
    <tr>
        <form asp-action="SaveStudent" method="post">
            <partial name="Edit/StudentForm" model="new Student()"/>
        </form>
    </tr>
    </tbody>
</table>




    
