@model Student
<table
    class="table">
    <tr>
        <td>
            <input
                type="text"
                class="form-control"
                asp-for="Name"/>
            <span
                class="text-danger"
                asp-validation-for="Name"></span>
        </td>
        <td>
            <input
                type="text"
                class="form-control"
                asp-for="PhoneNumber"/>
            <span
                class="text-danger"
                asp-validation-for="PhoneNumber"></span>
        </td>
        <td>
            <input
                type="email"
                class="form-control"
                asp-for="Email"/>
            <span
                class="text-danger"
                asp-validation-for="Email"></span>
        </td>
        <td>
            <button
                type="submit"
                class="btn btn-primary">
                Add
                Student
            </button>
        </td>
    </tr>
</table>